{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>sample project</title>
        {% block extrastyle %}
            <link rel='stylesheet' href="{% static 'common.css' %}" type="text/css" charset="utf-8">
            <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
        {% endblock extrastyle %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <div class="breadcrumbs">
            <a href="/">home</a>
            {% if user.is_staff %}
                | <a href="/admin">admin</a>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

        {% block extrajavascript %}
            <script src="{% static 'htmx.org/dist/htmx.js' %}"></script>
            <script src="{% static 'django_htmx_forms.js' %}"></script>
            <script src="{% static 'common.js' %}"></script>
            <script src="{% static 'frontend/scripts.js' %}"></script>
        {% endblock extrajavascript %}
    </body>
</html>


