{% extends 'frontend/base.html' %}

{% block content %}
    <h1>index</h1>

    <div>Pages:</div>
    <ul>
        <li>
            <a href="/basic_dialog">Basic Dialogs ...</a>
        </li>
        <li>
            <a href="/form_submission_example/" onclick="dialog1.open(event); return false;">Form submission and validation ...</a>
        </li>
        <li>
            <a href="/form_submission_example/"
               onclick="new HtmxForms.Dialog().open(event); return false;"
               data-html="<h1>Loading ...</h1>"
               data-width="400px"
               data-min-height="200px"
               data-title="<i class='fa fa-calculator'></i> A numeric value is required ..."
               data-button-save-initially-hidden="true"
               data-enable-trace="true"
               >
                Form submission and validation (equivalent to the one above) ...
            </a>
        </li>
        <li>
            <a href="/form_submission_example/">The same form in a standalone HTML page ...</a>
        </li>
        <li>
            <a href="/modal_forms_with_django_and_htmx">modal_forms_with_django_and_htmx</a>
        </li>
    </ul>

    <div>
        <button hx-post="{% url 'backend:j-htmx_click_test' %}" hx-swap="outerHTML">
           &lt;<b style="color: #3D72D7;">/</b>&gt; htm<b style="color: #3D72D7;">x</b> test
        </button>
    </div>

{% endblock content %}


{% block extrastyle %}
    <style>
        li { padding: 6px; }
    </style>
{% endblock extrastyle %}

{% block extrajavascript %}
<script>
    dialog1 = new HtmxForms.Dialog({
        dialog_selector: '#dialog_generic',
        html: '<h1>Loading ...</h1>',
        width: '400px',
        min_height: '200px',
        title: '<i class="fa fa-calculator"></i> A numeric value is required ...',
        button_save_initially_hidden: true,
        enable_trace: true
    });
</script>
{% endblock extrajavascript %}
